* {padding: 0; margin: 0}

html, body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: Helvetica, Arial, Verdana, Sans;
	width: 100%;
    height: 100%;
    overflow: hidden;
}

.dg.main {
	margin: 0 !important;
	height: 100vh;
	background: #1a1a1a;
	border-left: 4px solid #000;
	box-sizing: border-box;
}

.dg.main .close-button {
	display: none;
}

.dg.main .cr.disabled {
	border-left-color: #ccc;
}

.dg.main .cr.disabled > div > span {
	color: #aaa;
}

.dg.main .cr.disabled > div > .c > input[type=text] {
	color: #aaa;
	font-style: italic;
	background: transparent;
}

.hez-helper-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1999;
}
.hez-helper-modal {
	position: fixed;
	z-index: 2000;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	background: #fff;
	width: 500px;
	box-sizing: border-box;
}

.hez-helper-modal .hez-helper-modal-header {
	padding: 10px 20px;
    background: #ddd;
    font-size: 18px;
    font-weight: 600;
}

.hez-helper-modal .hez-helper-modal-header .hez-helper-close {
	float: right;
	text-decoration: none;
	color: #aaa;
	font-weight: bold;
}

.hez-helper-modal .hez-helper-modal-content {
	padding: 20px;
	min-height: 200px;
}

.hez-helper-modal .hez-helper-modal-content .hez-helper-list-select-ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	border: 1px solid #d6d6d6;
	border-bottom: none;
}

.hez-helper-modal .hez-helper-modal-content .hez-helper-list-select-ul li {
	display: block;
	padding: 10px;
	margin: 0;
	border-bottom: 1px solid #d6d6d6;
}